.App {
  text-align: center;
}

.App-logo {
  /*animation: App-logo-spin infinite 20s linear;*/
  height: 80px;
}

.App-header {
}

.App-title {
  font-size: 1.5em;
  text-align: center;
}

.App-intro {
  font-size: large;
}

.loading {
	position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    background-color: rgba(0,0,0,0.7)
}

.isLoading {
	display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20%;
}

#back-button {
	margin-left: 68%;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
