.App {
  text-align: center;
}

.App-logo {
  height: 80px;
}

.App-header {
  background-color: #D3D3D3;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.display-linebreak {
  white-space: pre-line;
}
