.App-logo {
  height: 80px;
}

.App-header {
  background-color: #bbbbbb;
  padding: 20px;
  color: white;
  text-align: center;
}

.App-title {
  font-size: 1.5em;
  color: black;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

table {
  width: 100%;
}

th {
  padding: 2px solid #000000;
  background: #424242;
  color: #FFFFFF;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-size: 14px;
}

td {
  font-family: monospace, monospace;
  font-size:14px;
}

tr:nth-child(even) {
  background-color: #d2d2d2;
}

.caret {
display: inline-block;
width: 0;
height: 0;
margin-left: 2px;
vertical-align: middle;
border-top: 4px dashed;
border-top: 4px solid \9;
border-right: 4px solid transparent;
border-left: 4px solid transparent;
}

.dropup, .dropdown {
position: relative;
}

.dropup .caret, .navbar-fixed-bottom .dropdown .caret {
border-top: 0;
border-bottom: 4px dashed;
border-bottom: 4px solid \9;
content: "";
}
