.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.row-kuwa-reg {
  margin-top: 20px;
  text-align: center;
}

.header-kuwa-reg {
  margin-right: 20px;
}

.elem-kuwa-reg {
  margin: 10px;
}

.loading-kuwa-reg {
  text-align: center;
  margin: 100px;
}

.responsive-kuwa-img {
  max-width: 100%;
  height: auto;
}

.responsive-navbar-brand {
  max-width: 100%;
  height: auto;
  display: block;
  position: absolute;
}

.navbar {
  position:relative;
}

.long-key {
  word-wrap: break-word;
}

.transparent-body {
  background-color: transparent;
}

.opaque-body {
  background-color: white;
}

.transparent-root {
  opacity: 0;
}

.opaque-root {
  opacity: 1;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
