h2 {
	text-align: center;
}

.address {
    width: 400px;
}
table {
	margin: auto;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 80%;
}


td, th {
	text-align: center;
	margin: auto;
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
