body
{
	font-family: 'Roboto', sans-serif;
}

h1
{
	width: 100%; 
	text-align: center;
}

li
{
	margin-top: 20px;
}

.section-heading
{
	color: #FFF; 
	background-color: green; 
	padding: 5px; 
	border-radius: 5px; 
	width: 80%;
}

a
{
	font-weight: bold;
	margin-top: 20px;
	color: #006400;
}

a:hover
{
	text-decoration: underline;
}

.footer
{
	width: 90%; 
	margin: 40px auto 20px auto; 
	text-align: center; 
	font-size: 0.75em;
}
